{% extends "base.html" %}

{% block content %}
<h1 align="center">Добавление товара</h1>
<form action="" method="post" novalidate>
    <div class="row">
    <div class="col"></div>
    <div class="col" align="center">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control", placeholder="Название") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control", placeholder="Описание") }}<br>
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.number.label }}<br>
            {{ form.number(class="form-control", placeholder="Количество") }}<br>
            {% for error in form.number.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
            <p>
                {% if numbermassage %}
                    <div class="alert alert-danger" role="alert">
                        {{ numbermassage }}
                    </div>
                {% endif %}
            </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(class="form-control", placeholder="Цена") }}<br>
            {% for error in form.price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
            <p>
                {% if pricemassage %}
                    <div class="alert alert-danger" role="alert">
                        {{ pricemassage }}
                    </div>
                {% endif %}
            </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </div>
    <div class="col"></div>
    </div>
</form>
</body>
{% endblock %}
