<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <title>{{title}}</title>
</head>
<body>
<div>
    {{ form.hidden_tag() }}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark justify-content-between">
    <a class="btn btn-primary text-wrap" href="/" role="button" style="width: 10rem;"><h5>АлиАкспресс</h5></a>
        <div></div>
        <div>
            {% if username %}
                <a class="btn btn-warning" href="/add_product" role="button">Добавить товар</a>
            {% endif %}
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div>
            {% if username %}
                <a class="display-6 text-white" >{{ username }}</a>
                <a class="btn btn-success" href="/log_out" role="button">Выйти</a>
            {% else %}
                <a class="btn btn-primary" href="/register" role="button">Регистрация</a>
                <a class="btn btn-success" href="/login" role="button">Войти</a>
            {% endif %}
        </div>
        <div>
            <select class="custom-select custom-select-sm">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
<!--            {{ form.select(class="custom-select custom-select-sm") }}-->
        </div>
        <div>
<!--            <form class="form-inline my-2 my-lg-0">-->
<!--              <input class="form-control mr-sm-2" type="search" placeholder="Поиск товара" aria-label="Search">-->
<!--              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>-->
<!--            </form>-->
            {{ form.search(class="form-control", type="string", placeholder="Поиск товара") }}
        </div>
        <div>
            {{ form.submit(type="submit", class="btn btn-primary") }}
        </div>

    </nav>
</div>
<br>
<br>
<br>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>
