{% extends "base.html" %}

{% block content %}
<div>
<h1 align="center">{{ title }}</h1>
</div>
<div>
    <div>
        <table class="table">
          <tbody>
            <tr>
              <td><img src={{product.image}} alt="Ну не нашлась картинка" class="img-thumbnail"></td>
              <td>Продавец:<br>{{ product.seller }}</td>
              <td>Описание:<br>{{ product.description }}</td>
              <td>Осталось:<br>{{ product.number }} шт.</td>
              <td>Цена:<br>{{ product.price }} $</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endblock %}