{% extends "base.html" %}

{% block content %}
<div>
<h1 align="center">Товары:</h1>
</div>
{% for item in products %}
<div>
    <h5>{{ item.title }}</h5>
    <div>
        <table class="table">
          <tbody>
            <tr bgcolor="#D2D2D2">
              <td><img src={{item.image}} alt="Ну не нашлась картинка" class="img-thumbnail"></td>
              <td>{{ item.seller }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.number }}</td>
              <td>{{ item.description }}</td>
              <td><a class="btn btn-dark" href= {{item.link}} role="button">Открыть страницу в магазине</a></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}